%% vim: syntax=erlang

{erl_opts, [debug_info, fail_on_warning]}.

{provider_hooks, [
    {post, [{compile, {appup, compile}},
	    {compile, escriptize},
            {clean, {appup, clean}}]}
]}.

{cover_enabled, true}.
{deps, [{egd, {git, "https://github.com/psyeugenic/egd.git", {tag, "0.9.1"}}}]}.
